<%= javascript_include_tag "application" %>

<div id="events">
  <%= render @events %>

  <div id="pagination">
    <div><%= page_entries_info @events %></div>
    <%= will_paginate @events %>
  </div>
</div>
