<div id="header">
  <h1><%= link_to "Rufio", root_path %></h1>

  <div id="environments">
    <% @environments.each do |environment| %>
      <% if environment == @environment %>
        <%= environment.name %>
      <% else %>
        <%= link_to environment.name, environment %>
      <% end %>
      <%= "|" unless environment == @environments.last %>
    <% end %>
  </div>
</div>
